// These variables are rendered globally scoped
:root {
  // Color scheme
  --celadon-blue: #007aaf;
  --cobalt: #003fa4;
  --dark-shark: #1a1c1e;
  --dark-jungle: #1d1f24;
  --deep-cerulean: #007aaf;
  --dirt: #a27c4a;
  --dusty-gray: #9a9a9a;
  --middle-purple: #a24a59;
  --radical-red: #fe2946;
  --shark: #272a30;
  --white: #ffffff;
  --woodsmoke: #111315;

  // Typeface weights
  // @todo Once redesign is finished, remove weights not used
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-xbold: 800;
  --weight-xxbold: 900;

  // Backgrounds
  --primary-bg-color: var(--woodsmoke);
  --secondary-bg-color: var(--dark-shark);

  // Type colors
  --primary-text-color: var(--dusty-gray);
  --secondary-text-color: var(--white);

  // Type sizes
  --primary-text-size: 2.2rem;

  // Links
  --primary-link-color: var(--deep-cerulean);

  // Buttons
  --primary-button-bg-color: var(--cobalt);
  --primary-button-text-color: var(--white);

  // Inputs
  --input-border-color: var(--shark);
  --input-focus-color: var(--cobalt);
  --input-error-color: var(--radical-red);
  --input-text-color: var(--dusty-gray);

  // Spacing
  --block-spacing: 20px;

  // Donut chart segments
  // @todo Figure out how to extract these and use them in JS
  --donut-slice-bluray: var(--middle-purple);
  --donut-slice-dvd: var(--dirt);
  --donut-slice-fourkay: var(--celadon-blue);

  // Navbar
  --navbar-bg: var(--shark);
  --navbar-hover: var(--dark-jungle);

  // Line loader
  --line-loader-bg: var(--shark);
  --line-loader-fg: var(--celadon-blue);

  // Account menu
  --account-menu-bg-color: var(--primary-bg-color);
  --account-menu-text-color: var(--white);
  --account-menu-subtext-color: var(--primary-text-color);
  --account-menu-hover-color: var(--secondary-bg-color);

  // Search
  --search-bg-color: var(--shark);
  --search-text-color: var(--primary-text-color);

  // Filter buttons
  --filter-button-bg: var(--shark);
  --filter-button-hover: var(--cobalt);
  --filter-button-text-color: var(--dusty-gray);
  --filter-button-text-hover: var(--white);

  // Dialog
  --dialog-bg-color: var(--dark-shark);
  --dialog-title-text-color: var(--white);
  --dialog-text-color: var(--dusty-gray);
}